#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#game-container{ 
  display: flex;
}
#search-list{
  visibility:hidden;
}
#search-list>ul{
  list-style: none;
}

#imagebox {
  max-height: 80vw;
  max-width: 80vw;
  -webkit-user-drag: none;
}
#selectbox {
  position: absolute;
  display: none;
}

#imagebutton,
#imagebutton:hover,
#imagebutton:active {
  padding: 0;
  border: none;
  outline: none;
  width: auto;
}