#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#imagebox {
  max-height: 80%;
  max-width: 80%;
  -webkit-user-drag: none;
}
#selectbox {
  position: absolute;
  display: none;
}

#imagebutton,
#imagebutton:hover,
#imagebutton:active {
  padding: 0;
  border: none;
  outline: none;
}